@import "inter.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

p {
  font-family: Roboto Mono, Inter, sans-serif;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-weight: 700;
} */
